# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
/build

# assets and whatnot
/public/images
/public/logos
/public/icons
/public/daversa
/public/central-icon-system

# misc
.DS_Store
.env
package-lock.json
